body {
    font-family: Arial;
    margin: 0;
    background-image: url(images/background-layer.webp);
  }
  * {
    box-sizing: border-box;
  }
  div {
    text-align: center;
    padding: 10px;
  }
  img {
    max-width:60%;
    height: 50%;
    vertical-align: middle;
  }
  .container {
    position: relative;
  }
  .cursor {
    cursor: pointer;
  }
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 5%;
    padding: 16px;
    margin-top: -50px;
    color: rgb(73, 22, 243);
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
  }
  .prev {
    left: 0;
    border-radius: 3px 0 0 3px;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev:hover,
  .next:hover {
    background-color: rgba(25, 21, 101, 0.8);
  }
  .numbertext {
    color: #0b0e0c;
    font-size: 12px;
    padding: 12px 12px;
    position: absolute;
    top: 0;
  }
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: rgb(255, 255, 255);
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .column {
    float: left;
    width: 10%;
    height: 80%;
  }
  /* transperancy of thumbnail */
  .demo {
    opacity: 0.6;
  }